@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

*,
*:before,
*:after {
  box-sizing: border-box;
}

.shadow {
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 5%;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.select-container {
  width: 90%;
  min-height: 6rem;
  position: relative;
  text-align: center;
  margin-bottom: 3rem;
}

.select-label {
  pointer-events: none;
  width: 100%;
  min-height: 100%;
  border: 2px solid black;
  border-radius: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 1rem;
  opacity: 1;
  z-index: 1;
}

.select-input {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.photo-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.photo-card-container {
  width: 11rem;
  height: 11rem;
  margin: 1rem;
  position: relative;
}

.photo-card {
  width: 10rem;
  height: 10rem;
  position: relative;
  overflow: hidden;
}

img.card {
  min-width: 100%;
  height: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.remove-btn {
  position: absolute;
  top: -1rem;
  right: -0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}
.remove-btn:hover {
  background-color: rgb(255, 160, 160);
}
